header{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}
ul{
    list-style-type: none;

}
li{
    display: inline;
    margin-right: 15px;
}
nav a{
    color: white;
    text-decoration: none;
}
footer{
    background-color: blue;
    color: white;
    text-align: center;
}
main{
    padding-left: 15px;
}