.container__div__image{
    /* box-shadow: inset;
    border-radius: 5px;
    border: 2px;
    padding: 5px;
    margin: 5px; */
    width: 400px;
    margin: 15px;

}
.container{
    border: 2px solid black;
    width: fit-content;
    margin:0 auto;
}
.title{
    text-align: center;
}
.sub_title{
    margin-left: 25px;
}
.list{
    margin-left: 30px;
}